{% extends 'EventBundle::layout.html.twig' %}

{% block body %}
    Hello you damn {{ name|upper }}!<br/>
    {% for i in 1..count %}
        count is <strong>{{ i }}</strong><br/>
    {% endfor %}
    <h4>Event found</h4>
    name: {{ event.name }} <br/>
    location: {{ event.location }} <br/>
{% endblock %}